* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
canvas {
    position: absolute;
    background:rgb(129, 129, 129,.85);
    border-radius: 50%;
}
html{
    background-color: rgb(65, 0, 155,.85);
}